.banner{
	background-color: black;
	/* padding: 40px; */
	color: white;
	text-align: center;
}

.titulo{
	margin-top: 25px;
}
.logo{
	margin-top: 10px;
}

.pie{
	background-color: black;
}

footer{
	text-align: center;
	padding: 30px;
	color: white;
}

.color{
	background-color: #DCDCDC;
	text-align: center;
}

.centrar{
	text-align: center;
	background-color: #DCDCDC;
}